/**
 * Modals
 */

.modal {
    border-radius: 5px;
}

.modal__header {
    padding: rem-calc(25px);
    background: $topbar-bg-color;
    border-radius: 3px 3px 0 0;
    color: #fff;

    h1 {
        color: #fff;
        font-weight: bold;
    }
}

.modal__row {
    margin-top: rem-calc(25px);
    margin-bottom: rem-calc(25px);

    input, .button, .social-group, .btn-social--facebook, .btn-social--twitter {
        margin-bottom: 0;
    }

    .valign-bottom {
        margin-top: rem-calc(15px);
    }
}

.modal__line {
    line-height: rem-calc(50px);
}
