/**
 * Flag object
 */

.flag {
    display: table;
    width: 100%;
}

.flag--no-small {
    @media #{$small-only} {
        display: inherit;
    }
}

.flag__img, .flag__body {
    display: table-cell;
    vertical-align: middle;

    .flag--top & {
        vertical-align: top;
    }

    .flag--bottom & {
        vertical-align: bottom;
    }

    .flag--no-small & {
        display: inherit;
    }
}

.flag__img {
    padding-right: rem-calc(25px);

    .flag--inverted & {
        padding-right: 0;
        padding-left: rem-calc(25px);
    }

    > img {
        display: block;
        max-width: none;
    }

    .flag--no-small {
        @media #{$small-only} {
            padding-right: 0;
        }
    }
}

.flag__body {
    width: 100%
}
