/**
 * Form elements
 */

// Big input elements in some page forms
.big[type="text"] {
    padding: rem-calc(26px);
    font-size: rem-calc(32px);
    text-align: center;
}

.file-input-replace {
    position: relative;

    input[type="file"] {
        opacity: 0;
        @include scut-absolute(0 0 0 0);
    }
}
