/**
 * General modules
 */

// Figures do not have margins
figure { margin: 0 }


// Helpers
.expand {
    display: block;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.round {
    border-radius: 1000px;
}

.list-unstyled {
    @extend %scut-list-unstyled;
    margin: 0;
}


// Author (based off media object)
// .author {}
.author__name {
    display: block;
    line-height: 1.5;
}

// White round box style
.round-box {
    background: $body-bg;
    border-radius: 5px;
    text-align: center;

    &.large {
        @extend %beta;
    }
}
