/**
 * Page module
 */

.page {
    padding: rem-calc(50px) 0;
}

.page__box, .page__box--dark {
    padding: rem-calc(25px);
    background: #fff;
    border-radius: 10px;
}

.page__box--dark {
    background: #f0f0f0;
}
