/**
 * View: Single Dare
 */

.dare-single {
    .page__box {
        margin-bottom: rem-calc(25px);
    }
}

.dare-single__challenge {
    @extend %gamma;
    margin: rem-calc(25px 0);
    color: #666;

    &:before { content: '“' }
    &:after  { content: '”' }
}

.dare-single__actions {
    margin: rem-calc(25px -25px);
    padding: rem-calc(15px 0);
    border-top: 1px solid $secondary-color;
    border-radius: 0 0 5px 5px;

    > li {
        padding-bottom: 0;
    }
}

/* Date details side module */
.dare-details__mod {
    margin-bottom: rem-calc(20px);

    .button {
        strong {
            display: block;
        }
    }
}

.dare-details__title {
    display: block;
    margin-bottom: rem-calc(10px);
}

/* Donors group */
.dare-details__donors {
    @include block-grid($per-row: 5, $spacing: rem-calc(1px));
    display: inline-block;
    img {
        width: 100%;
    }
}

/* Donate CTA module */
.dare-details__donate-cta {
    input[type="text"] {
        height: auto;
    }
}

.legit-submission {
    .author {
        color: $header-font-color;
        line-height: 1.5;
    }
}

.legit-submissions__shares {
    margin-top: rem-calc(25px);
}
